pkgbase = kompass-git
	pkgdesc = kotontrions personal status panel
	pkgver = r56.6faee18
	pkgrel = 1
	url = https://github.com/kotontrion/kompass
	arch = x86_64
	license = GPL-3.0-only
	makedepends = meson
	makedepends = blueprint-compiler
	makedepends = dart-sass
	makedepends = git
	makedepends = gobject-introspection
	makedepends = vala
	depends = gtk4
	depends = gtk4-layer-shell
	depends = glib2
	depends = libadwaita
	depends = libnm
	depends = libastal-meta
	depends = libportal
	depends = slurp
	depends = wf-recorder
	provides = kompass
	provides = libkompass
	source = libkompass-git::git+https://github.com/kotontrion/kompass.git
	sha256sums = SKIP

pkgname = libkompass-git
	provides = libkompass.so

pkgname = kompass-git
	depends = gtk4
	depends = gtk4-layer-shell
	depends = glib2
	depends = libadwaita
	depends = libnm
	depends = libastal-meta
	depends = libportal
	depends = slurp
	depends = wf-recorder
	depends = libkompass-git
