pkgbase = agsv2-git
	pkgdesc = Aylurs's Gtk Shell (AGS), An eww inspired gtk widget system.
	pkgver = 1.8.2.r38.g42624a5
	pkgrel = 1
	url = https://github.com/Aylur/ags
	arch = x86_64
	license = GPL-3.0-only
	makedepends = git
	makedepends = go
	depends = gjs
	depends = libastal-gjs-git
	depends = libastal-meta
	depends = npm
	source = git+https://github.com/Aylur/ags.git#branch=v2
	sha256sums = SKIP

pkgname = agsv2-git
